/* You can add global styles to this file, and also import other style files */
body {
    margin: 1;
    font-family: Arial, Helvetica, sans-serif;
    color: #404C51;
}

label {
    font-weight: bold;
}

.container {
    max-width: 1170px;
    margin: 0 auto;

}

@media (min-width: 40em) {
  .col-valor-header {
    width: 120px;
  }

  .col-valor {
    text-align: right !important;
  }

  .col-data-header {
    width: 120px;
  }

  .col-data {
    text-align: center !important;
  }

  .col-acoes-header {
    width: 115px;
  }

  .col-acoes {
    width: 115px;
    text-align: center !important;
  }

  .col-acoes .p-button {
    margin: 1px;
  }
}

@media screen and (max-width: 960px) {
    .p-datatable table {
        display: block;
    }
    .p-datatable thead {
        display: none;
    }
    .p-datatable tbody, .p-datatable tr, .p-datatable td {
        display: block;
        width: 100%;
    }
    .p-datatable tbody tr {
        margin-bottom: 1rem;
        border-bottom: 1px solid #dee2e6;
    }
    .p-datatable tbody td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
        padding: 0.5rem;
    }
    .p-datatable tbody td .p-column-title {
        display: inline-block;
        font-weight: bold;
    }
}

@media screen and (min-width: 961px) {
    .p-datatable tbody td .p-column-title {
        display: none;
    }
}